{{define "headerMenu_layout"}}

<header class="header-user-dropdown">

	<div class="header-limiter">
		<h1><a href="/Index">Company<span>logo</span></a></h1>

		<nav>
			<a href="/Sistema">Administracion de Sesiones</a>
		</nav>


		<div class="header-user-menu">
			<img src="/img/2.jpg" alt="User Image"/>

			<ul>
				<li><a href="/Logout" class="highlight">Logout</a></li>
			</ul>
		</div>

	</div>

</header>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

	$(document).ready(function(){

		var userMenu = $('.header-user-dropdown .header-user-menu');

		userMenu.on('touchend', function(e){

			userMenu.addClass('show');

			e.preventDefault();
			e.stopPropagation();

		});

		// This code makes the user dropdown work on mobile devices

		$(document).on('touchend', function(e){

			// If the page is touched anywhere outside the user menu, close it
			userMenu.removeClass('show');

		});

	});

</script>


<!-- Demo ads. Please ignore and remove. -->
<script src="http://cdn.tutorialzine.com/misc/enhance/v3.js" async></script>
{{end}}