<!DOCTYPE html>
<html>

{{template "head_layout"}}

<body>

{{template "headerMenu_layout"}}

<!-- The content of your page would go here. -->


<div class="menu">
	<img src="./img/demo-arrow.png" alt="arrow" height="120">
	<h1>Hola {{.Nombre}}</h1>
</div>



</body>

</html>
