<!DOCTYPE html>
<html>

{{template "head_layout"}}

<body>

{{template "headerMenu_layout"}}

<!-- The content of your page would go here. -->
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        {{.Tabla}}
    </div>
        
    <div class="col-md-2 col-md-offset-2">
        <br>
        <br>
        <form method="POST" action="/Sistema/Sesiones/CerrarByID">
            <div class="form-group">
                <label for="idsession">ID Sesion</label>
                <input type="text" name="IDSesion" class="form-control" id="idsession" aria-describedby="idsessionhelp" placeholder="ID de la Session a Cerrar" required>
                <small id="idsessionhelp" class="form-text text-muted">Solo ingresa la clave, si estas seguro de cerrar la sesion, esto afectara al usuario que si esta trabajando.</small>
            </div>
             <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
    </div>
</div>


</body>

</html>
