<!DOCTYPE html>
<html>

{{template "head_layout"}}

<body>

{{template "headerMenu_layout"}}

<!-- The content of your page would go here. -->
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <br>
        <br>
        <form method="POST">
            <div class="form-group">
                <label for="username">SECCION PARA CERRAR SESIONES DEL USUARIO INDICADO</label><br>
                <label for="username">Nombre del Usuario</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="usernamehelp" placeholder="Ingresa el nombre del Usuario" required>
                <small id="usernamehelp" class="form-text text-muted">Se cerraran todas las sesiones del usuario indicado.</small>
            </div>
             <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
        
    </div>
        
    <div class="col-md-2 col-md-offset-2">
        {{.Tabla}}
    </div>
</div>


</body>

</html>
