<!DOCTYPE html>
<html>

{{template "head_layout"}}

<body>

{{template "headerMenu_layout"}}

<!-- The content of your page would go here. -->
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <br>
        <br>
        <form method="POST">
            <div class="form-group">
                <label for="username">EN ESTA SECCION SE MUESTRAN LAS SESIONES DEL USUARIO SOLICITADO</label><br>
                <label for="username">Nombre del Usuario</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="usernamehelp" placeholder="Ingresa el nombre del Usuario" required>
                <small id="usernamehelp" class="form-text text-muted">Se Mostraran todas las sesiones del usuario indicado.</small>
            </div>
             <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
        
    </div>        
</div>
<div class="row">         
    <div class="col-md-7 col-md-offset-2">
        {{.Tabla}}
    </div>
</div>


</body>

</html>
