<!DOCTYPE html>
<html>

{{template "head_layout"}}

<body>

{{template "headerMenu_layout"}}

<!-- The content of your page would go here. -->


<div class="menu">
	SISTEMA
	<ul>
		<li><a href="/SesionesActivas" class="highlight">Sesiones Activas</a></li>
		<li><a href="/Sistema/Sesiones/VerByName" class="highlight">Sesiones Activas por Usuario</a></li>
		<li><a href="/Sistema/Sesiones/EliminarByName" class="highlight">Cerrar Sesiones Por Usuario</a></li>
	</ul>
</div>



</body>

</html>
